
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik";
}

nav { 
    margin-top: 2pc;
    transition: ease-in 0.6s; 
}

a.brand img {
    padding-left: 5pc;
}

div.nav-items a {
    text-decoration: none;
    position: relative; 
    left: 43pc;
    bottom: 1.5pc;
    margin: 20px; 
    font-size: 20px;
    font-weight: 500;
    color: hsl(231, 32%, 33%);
    text-transform: uppercase;
    transition: ease-in 0.6s; 
}

div.nav-items a:hover {
    color: hsl(0, 78%, 45%);
    transition: all 0.3s;
}

div.nav-items a.log {
    background-color: hsl(0, 94%, 66%);
    padding: 10px 20px;
    color:white;
}

div.nav-items a.log:hover {
    transition: all 0.3s;
    background-color: hsl(0, 29%, 97%);
    color: hsl(231, 32%, 33%);
    border: 1px solid red;
    box-shadow: 2px 2px 2px 2px rgb(129, 128, 128);
}


.hide {
    opacity :0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;

}


/* HEAD OF CONTENT */

div.content {
    padding: 200px 100px;
    display: grid;
    grid-template-columns: 30%;
    background-image: url("./images/illustration-hero.svg");
    background-repeat: no-repeat;
    background-position: 40pc;
    background-blend-mode: darken;
}

h1,h2,h3,h5 {
    color: hsl(229, 33%, 16%);
    font-size: 40px;
    font-weight: 500;
}

p.head,p.feat,p.bookP,p.down,p.test {
    opacity: 50%;
    font-weight: 600;
    font-size: 20px;
}

p.button {
    display: flex;
    /* justify-content: space-between; */
}

input {
    width: fit-content;
    margin: 5px;
    padding: 20px 30px;
    background-color: hsl(229, 59%, 44%);
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-family: "Rubik";
    cursor: pointer;
    border: none;
}

input.fire {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px 2px rgb(129, 128, 128);
}
input.on:hover {
    box-shadow: 2px 2px 2px 2px rgb(129, 128, 128);
    transition:all 0.5s;
    background-color: white;
    color:  hsl(229, 59%, 44%);
    border: 1px solid red;
}
input.fire:hover {
    transition:all 0.5s;
    border: 1px solid black;
}

/* FEATURES SECTION */

div.features {
    display: grid;
    place-items: center;
    justify-content: center;
}

p.feat {
    text-align: center;
}

span.features_table {
    display: flex;
}

p.list {
    margin: 40px;
    font-weight: 500;
    opacity: 70%;
    cursor: pointer;
    font-size: 30px;
}

 p.active {
     color:  hsl(0, 85%, 46%);
     text-decoration: underline 60%;
     transition: all 0.6s;

}

.row {
    display: flex;
    padding: 30px 20px;
  }
  
  .column {
    flex: 50%;
}
 
img.feat_img {
    position: relative;
    left: 5pc;
}

p.bookP {
    display: grid;
    grid-template-columns: 60%;
}

input.more {
    padding: 10px 20px;
    text-align: center;
}

input.more:hover {
    box-shadow: 2px 3px 4px 2px black;
    transition: 0.5s; 
    background-color: white;
    color: hsl(231, 69%, 60%);
}


/* DOWNLOAD SECTION */

div.down {
    padding: 150px 150px;
    display: grid;
    justify-content: center;
    place-items: center;
    grid-template-columns: 60%;
}

p.down {
    text-align: center;
    font-size: 15px;
}

div.column_2 {
    float: left;
    padding: 10px 40px;
  }
  
 
  div.row_2:after {
    content: "";
    display: table;
    clear: both;
  }

 

  h3 {
    text-align: center;
    font-size: 20px;
  }

div.Chrome,div.Firefox,div.Opera {
    border: none;
    padding: 40px 40px;
    background-color: white;
    box-shadow: 2px 3px 4px 5px rgb(226, 222, 222);
    display: grid;
    justify-content: center;
    place-items: center;
    background-image: url('./images/bg-dots.svg');
    background-repeat: no-repeat;
    background-position-y: 72%;
}

div.Firefox {
    position: relative;
    top: 10pc;
}

div.Opera {
    position: relative;
    top: 15pc;
}



/* TESTIMONIAL SECTION */

div.testmonial {
    padding: 340px 40px;
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: 80%;
}

p.test {
    text-align: center;
    font-size: 20px;
}

button.btn {
   border: none;
   background-color: inherit;
   padding: 1px 4px;
   
}


p.FAQs__answer {
    overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s;
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: 70%;
  position: relative;
   right: 2pc;
}

img.plus__sub {
    max-width: 100%;
    transition: all 0.6s;
    position: relative;
    left: 30pc;
    bottom:2pc ;
    transform: rotate(360deg);
    
}

h5 {
   position: relative;
   right: 10pc;
   font-size: 15px;
   color: hsl(231, 40%, 28%);
}

img.hide {
    display: block;
    max-width: 100%;
    position: relative;
    left: 30pc;
    bottom:2pc ;
    transform: rotate(180deg);
    transition: all 0.6s;
}

hr {
    width: 90%;
}

/* FOOTER SECTION */

footer {
    padding: 90px 40px;
    width: 100%;
    height: 450px;
    display: grid;
    place-items: center;
    justify-content: center;
    background-color: hsl(231, 69%, 60%);
}

p.end {
    letter-spacing: 2px;
    color: white;
}

h6 {
    font-size: 30px;
    color: white;
    text-align: center;
}

input#email {
    background-color: white;
    color: black;
}

button.con {
    padding: 10px 20px;
    background-color: hsl(0, 94%, 66%);
    border: none;
    color: white;
    font-family: "Rubik";
    border-radius: 5px;
    cursor: pointer;
}

button.con:hover {
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgb(5, 5, 5);
    color: black;
    border: 1px solid red;
    transition: all 0.5s;
}

div.close {
    background-color: hsl(229, 31%, 21%);
    width: 100%; 
}


a.brand_2 img{
    position: relative;
    background-color: white;
    padding: 2px 5px; 
    width: inherit;  
}

div.nav_2 a {
    position: relative; 
   color: white;
   left: 17pc;
    font-size: 13px;  
}


div.social a {
     position: relative;
     left: 70pc;
     bottom: 2.5pc;
}

span#email-err {
    background-color: hsl(0, 94%, 66%);
    padding: 10px 10px;
    color: white;
}


